body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
} 

/* This works.
  It will cascade this fill through the shapes,
  as long as there are no presentational fill 
  attributes on the shapes themselves. */
.icon-1 {
  fill: red;
}

