//.build/
.build/*.log
.build/*.*.log

.build/Translations/.idea/

.packages/

rsgallery2.org.xml

admin/install.rsgallery2.php
admin/rsgallery2.xml

# python
**/__pycache__
**/*.pyc


