
.PlayerContainer {
	text-align: center; /**/
	
	display : table; /**/
	/* border: 1px solid blue; /**/
	width   : 80% /**/
}

.PlayerImage {
	margin: 10px auto; /* 85px; /**/
	/* border: 3px solid green; /**/
	display: table-row; /**/
	/**/
}

.PlayerIconArrayContainer {
	text-align: center; /**/
}

.PlayerIconArray {
	/**/
	margin: 20px auto; /* 85px; /**/
	/* padding: 10px; /**/
	/**/
	/* display: table-row; /**/
	display: inline-block; /**/
}

.PlayerIcon {
	/**/
	margin           : 5px; /**/
	padding          : 5px; /**/
	/**/
	background-color : white; /*#df3e3e; /* #f1e8e6;/**/
	border-radius    : 3px; /**/
	border           : solid 5px #d5d5d5; /**/

	/* text-decoration  : none; /**/
}

.PlayerIcon:hover, .PlayerIcon:visited, .PlayerIcon:link, .PlayerIcon:active
{
	text-decoration: none;
}

.fa-play {
	position : relative;
	left     : 3px;
}

.fa-stop {
	position : relative;
	left     : 2px;
}


