<!DOCTYPE html>
<html>
	<head>
		<title>SVG Sprites</title>
	</head>
	<body>
		TTTTTTT<br>
		<!-- svg style="display:none;">
			<symbol id="left" width="54" height="69.007" viewBox="0 0 54 69.007">
				<path d="M47 0L3.44 34.502 47 69.007z"/>
			</symbol>

			<symbol id="right" width="54" height="69.007" viewBox="0 0 54 69.007">
				<path d="M5-.121l43.56 34.502L5 68.886z"/>
			</symbol>
			
			<symbol id="brush" viewBox="0 0 62 62">
				<path d="M5-.121l43.56 34.502L5 68.886z"/>
			</symbol>
			
			<symbol id="camera" viewBox="0 0 64 52">
				<path d="M5-.121l43.56 34.502L5 68.886z"/>
				</symbol>
		</svg --> 

		<!--svg>
		<use xlink:href="#left"/>
		<svg-->
		Use1<br>
		<svg>
			<use xlink:href="http://127.0.0.1/joomla3xRelease/components/com_rsgallery2/templates/slideshow_fith/images/sprite3.svg#left">tttt</use>
		</svg>
		Use2<br>

		<svg class="twitter-icon">
			<use xlink:href="http://127.0.0.1/joomla3xRelease/components/com_rsgallery2/templates/slideshow_fith/images/twitter.svg#twitter-icon">fff</use>
		</svg>
		End body<br>
	</body>
	
</html>

