<!DOCTYPE html>
<html>
	<body>
		<br>Before 01<br>
			<img src="sprite.svg" alt="Sprite" width="242" height="242">

		<br>Before 02<br>
		
		<svg>
			<use xlink:href="#left"></use>
		</svg>

		<svg viewBox="0 0 100 100" class="icon">
			<use xlink:href="#left"></use>
		</svg>

		<br>After 02<br>
		<img id="image" src="http://127.0.0.1/Joomla3xRelease/images/rsgallery/display/2017-11-02_00040.jpg.jpg" />
		<svg viewBox="0 0 100 100" class="icon shape-codepen">
			<use xlink:href="#shape-codepen"></use>
		</svg>

		<br>After 03<br>
		<a href="#" style="background-image:url('http://127.0.0.1/Joomla3xRelease/images/rsgallery/display/2017-11-02_00040.jpg.jpg')"></a>
		<br>
	
	</body>
</html>


