<?xml version="1.0" encoding="utf-8"?>
<!-- $Id$ -->
<form enctype="multipart/form-data">
	<fieldset name="General">
		<field name="intro_text" type="editor"
			   label="COM_RSGALLERY2_INTRODUCTION_TEXT"
			   description="COM_CONTENT_FIELD_ARTICLETEXT_DESC"
			   filter="JComponentHelper::filterText"
			   buttons="false"
		/>
		<field
			id           = "debug"
			name         = "debug"
			type         = "radio" 
			default      = "0"
			label        = "COM_RSGALLERY2_DEBUG"
			description  = "COM_RSGALLERY2_DEBUG_ACTIVATED_INFO"
			class        = "btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field
			id           = "advancedSef"
			name         = "advancedSef"
			type         = "radio"
			default      = "0"
			label        = "COM_RSGALLERY2_ADVANCED_SEF_ALL_CATEGORY_NAMES_AND_ITEM_TITLES_MUST_BE_UNIQUE"
			description  = ""
			class        = "btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
	</fieldset>

	<fieldset name="Images_manipulation">
		<field
			name         = "image_width"
			type         = "text"
			default      = "0"
			label        = "COM_RSGALLERY2_DISPLAY_PICTURE_WIDTH"
			description  = ""
			class        = "">
		</field>
		<field
			name         = "thumb_width"
			type         = "text"
			default      = "0"
			label        = "COM_RSGALLERY2_THUMBNAIL_WIDTH"
			description  = ""
			class        = "">
		</field>
		<field
			name         = "thumb_style"
			type         = "list"
			default      = "0"
			label        = "COM_RSGALLERY2_THUMBNAIL_STYLE"
			description  = ""
			class        = ""
		>
			<option value="0">COM_RSGALLERY2_PROPORTIONAL</option>
			<option value="1">COM_RSGALLERY2_SQUARE</option>
		</field>
		<field
			name         = "jpegQuality"
			type         = "text"
			default      = "0"
			label        = "COM_RSGALLERY2_JPEG_QUALITY_PERCENTAGE"
			description  = ""
			class        = "">
		</field>
		<!-- field
			name         = "allowedFileTypes"
			type         = "list"
			default      = "0"
			label        = "COM_RSGALLERY2_ALLOWED_FILETYPES"
			description  = ""
			class        = "chzn-color-state"
			size         = "3"
			>
			<option value="1">JPUBLISHED</option>
			<option value="0">JUNPUBLISHED</option>
			<option value="2">JARCHIVED</option>
			<option value="-2">JTRASHED</option>
		</field -->
	</fieldset>
	<fieldset name="Images_upload">
		<field
			name         = "ftp_path"
			type         = "text"
			default      = "0"
			label        = "COM_RSGALLERY2_FTP_PATH"
			description  = "COM_RSGALLERY2_PATH_MUST_START_WITH_BASE_PATH"
			class        = "">
		</field>
		<field
			name         = "useIPTCinformation"
			type         = "radio"
			default      = "0"
			label        = "COM_RSGALLERY2_RSG2_USE_IPTC"
			description  = "COM_RSGALLERY2_RSG2_IPTC_TOOLTIP"
			class        = "btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field
			name         = "uploadState"
			type="list"
			class="chzn-color-state"
			default="1"
			size="1"
			label="COM_RSGALLERY2_DEFAULT_UPLOAD_STATE_TOOLTIP_TITLE"
			description="COM_RSGALLERY2_DEFAULT_UPLOAD_STATE_TOOLTIP">
			<option value="1">JPUBLISHED</option>
			<option value="0">JUNPUBLISHED</option>
			<option value="2">JARCHIVED</option>
			<option value="-2">JTRASHED</option>
		</field>
		<field
			name         = "IsUseOneGalleryNameForAllImages"
			type         = "radio"
			default      = "0"
			label        = "COM_RSGALLERY2_PRESELECT_ONE_GALLERY_FOR_ALL_IMAGES_LABEL"
			description  = "COM_RSGALLERY2_PRESELECT_ONE_GALLERY_FOR_ALL_IMAGES_PRESELECT"
			class        = "btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field
			name         = "IsPreSelectLatestGallery"
			type         = "radio"
			default      = "0"
			label        = "COM_RSGALLERY2_PRESELECT_LATEST_GALLERY_LABEL"
			description  = "COM_RSGALLERY2_PRESELECT_LATEST_GALLERY_DESC"
			class        = "btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>


	</fieldset>
	<fieldset name="Images_graficsLibrary">
		<field
			name         = "graphicsLib"
			type         = "list"
			default      = "0"
			label        = "COM_RSGALLERY2_GRAPHICS_LIBRARY"
			description  = ""
			class        = ""
			size         = "3"
		>
			<option value="0">*GD2</option>
			<option value="1">*ImageMagick</option>
			<option value="2">*NETPBM</option>
			<option value="2">*ToDo:Separate field type needed</option>
		</field>
		<field
			name         = "imageMagick_path"
			type         = "text"
			default      = "0"
			label        = "COM_RSGALLERY2_IMAGEMAGICK_PATH"
			description  = "COM_RSGALLERY2_PRESELECT_LATEST_GALLERY_LABEL"
			class        = "btn-group btn-group-yesno">
		</field>
		<field
			name         = "netpbm_path"
			type         = "text"
			default      = "0"
			label        = "COM_RSGALLERY2_NETPBM_PATH"
			description  = ""
			class        = "btn-group btn-group-yesno">
		</field>
		<field
			name         = "videoConverter_path"
			type         = "text"
			default      = "0"
			label        = "COM_RSGALLERY2_VIDEO_CONVERTER_PATH"
			description  = "COM_RSGALLERY2_PAREN_EXAMPLE"
			class        = "btn-group btn-group-yesno">
		</field>
		<field
			name         = "videoConverter_param"
			type         = "text"
			default      = "0"
			label        = "COM_RSGALLERY2_VIDEO_CONVERTER_PARAMETERS"
			description  = ""
			class        = "btn-group btn-group-yesno">
		</field>
		<field
			name         = "videoConverter_thumbParam"
			type         = "text"
			default      = "0"
			label        = "COM_RSGALLERY2_THUMBNAIL_EXTRACTION_PARAMETERS"
			description  = ""
			class        = "btn-group btn-group-yesno">
		</field>
		<field
			name         = "videoConverter_extension"
			type         = "text"
			default      = "0"
			label        = "COM_RSGALLERY2_VIDEO_OUTPUT_TYPE"
			description  = ""
			class        = "btn-group btn-group-yesno">
		</field>
	</fieldset>

	<fieldset name="Images_storage">
		<field
			name         = "keepOriginalImage"
			type         = "radio"
			default      = "0"
			label        = "COM_RSGALLERY2_KEEP_ORIGINAL_IMAGE"
			description  = ""
			class        = "btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field
			name         = "imgPath_original"
			type         = "text"
			default      = "0"
			label        = "COM_RSGALLERY2_ORIGINAL_IMAGE_PATH"
			description  = ""
			class        = "">
		</field>
		<field
			name         = "imgPath_display"
			type         = "text"
			default      = "0"
			label        = "COM_RSGALLERY2_DISPLAY_IMAGE_PATH"
			description  = ""
			class        = "">
		</field>
		<field
			name         = "imgPath_thumb"
			type         = "text"
			default      = "0"
			label        = "COM_RSGALLERY2_THUMB_PATH"
			description  = ""
			class        = "">
		</field>
	</fieldset>
	<fieldset name="Images_comments">
		<field
			name         = "comment_security"
			type         = "radio"
			default      = "0"
			label        = "COM_RSGALLERY2_USE_CAPTCHA_COMMENT_FORM"
			description  = ""
			class        = "btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field
			name         = "captcha_type"
			type         = "text"
			default      = "0"
			label        = "COM_RSGALLERY2_CAPTCHA_TYPE"
			description  = ""
			class        = "">
		</field>
		<field
			name         = "captcha_image_height"
			type         = "text"
			default      = "0"
			label        = "COM_RSGALLERY2_CAPTCHA_IMAGE_HEIGHT"
			description  = ""
			class        = "">
		</field>
		<field
			name         = "captcha_perturbation"
			type         = "text"
			default      = "0"
			label        = "COM_RSGALLERY2_CAPTCHA_PERTURBATION"
			description  = ""
			class        = "">
		</field>
		<field
			name         = "captcha_num_lines"
			type         = "text"
			default      = "0"
			label        = "COM_RSGALLERY2_CAPTCHA_NUM_LINES"
			description  = ""
			class        = "">
		</field>
		<field
				name         = "captcha_image_bg_color"
				type         = "text"
				default      = "0"
				label        = "COM_RSGALLERY2_CAPTCHA_IMAGE_BG_COLOR"
				description  = ""
				class        = "">
		</field>
		<field
				name         = "captcha_text_color"
				type         = "text"
				default      = "0"
				label        = "COM_RSGALLERY2_CAPTCHA_TEXT_COLOR"
				description  = ""
				class        = "">
		</field>
		<field
				name         = "captcha_line_color"
				type         = "text"
				default      = "0"
				label        = "COM_RSGALLERY2_CAPTCHA_LINE_COLOR"
				description  = ""
				class        = "">
		</field>
		<field
				name         = "captcha_case_sensitive"
				type         = "radio"
				default      = "0"
				label        = "COM_RSGALLERY2_CAPTCHA_CASE_SENSITIVE"
				description  = ""
				class        = "btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
				name         = "captcha_charset"
				type         = "text"
				default      = "0"
				label        = "COM_RSGALLERY2_CAPTCHA_CHARSET"
				description  = ""
				class        = "">
		</field>
		<field
				name         = "captcha_code_length"
				type         = "text"
				default      = "0"
				label        = "COM_RSGALLERY2_CAPTCHA_CODE_LENGTH"
				description  = ""
				class        = "">
		</field>
	</fieldset>
	<fieldset name="Images_voting">
		<field
				name         = "voting_once"
				type         = "radio"
				default      = "0"
				label        = "COM_RSGALLERY2_USER_CAN_ONLY_VOTE_ONCE_COOKIE_BASED"
				description  = ""
				class        = "btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field
				name         = "cookie_prefix"
				type         = "text"
				default      = "0"
				label        = "COM_RSGALLERY2_COOKIE_PREFIX"
				description  = ""
				class        = "">
		</field>
	</fieldset>

<!-- Start ******************************************************************-->

	<fieldset name="Display_frontPage">
		<field
				id           = "displaySearch"
				name         = "displaySearch"
				type         = "radio"
				default      = "0"
				label        = "COM_RSGALLERY2_DISPLAY_SEARCH"
				description  = ""
				class        = "btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
				id           = "displayRandom"
				name         = "displayRandom"
				type         = "radio"
				default      = "0"
				label        = "COM_RSGALLERY2_DISPLAY_RANDOM"
				description  = ""
				class        = "btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
				id           = "displayLatest"
				name         = "displayLatest"
				type         = "radio"
				default      = "0"
				label        = "COM_RSGALLERY2_DISPLAY_LATEST"
				description  = ""
				class        = "btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
				id           = "displayBranding"
				name         = "displayBranding"
				type         = "radio"
				default      = "0"
				label        = "COM_RSGALLERY2_DISPLAY_BRANDING"
				description  = ""
				class        = "btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
				id           = "displayDownload"
				name         = "displayDownload"
				type         = "radio"
				default      = "0"
				label        = "COM_RSGALLERY2_DISPLAY_DOWNLOADLINK"
				description  = ""
				class        = "btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
				id           = "displayStatus"
				name         = "displayStatus"
				type         = "radio"
				default      = "0"
				label        = "COM_RSGALLERY2_DISPLAY_STATUS_ICONS"
				description  = ""
				class        = "btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
				id           = "dispLimitbox"
				name         = "dispLimitbox"
				type         = "radio"
				default      = "0"
				label        = "COM_RSGALLERY2_DISPLAY_GALLERY_LIMITBOX"
				description  = ""
				class        = "btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
				id           = "galcountNrs"
				name         = "galcountNrs"
				type         = "radio"
				default      = "0"
				label        = "COM_RSGALLERY2_DEFAULT_NUMBER_OF_GALLERIES_ON_FRONTPAGE"
				description  = ""
				class        = "btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
				id           = "displaySlideshow"
				name         = "displaySlideshow"
				type         = "radio"
				default      = "0"
				label        = "COM_RSGALLERY2_DISPLAY_SLIDESHOW"
				description  = ""
				class        = "btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
				id           = "current_slideshow"
				name         = "current_slideshow"
				type         = "radio"
				default      = "0"
				label        = "COM_RSGALLERY2_SELECT_SLIDESHOW"
				description  = ""
				class        = "btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
				id           = "showGalleryOwner"
				name         = "showGalleryOwner"
				type         = "radio"
				default      = "0"
				label        = "COM_RSGALLERY2_DISPLAY_OWNER_INFORMATION"
				description  = ""
				class        = "btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
				id           = "showGallerySize"
				name         = "showGallerySize"
				type         = "radio"
				default      = "0"
				label        = "COM_RSGALLERY2_DISPLAY_NUMBER_OF_ITEMS_IN_GALLERY"
				description  = ""
				class        = "btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
				id           = "includeKids"
				name         = "includeKids"
				type         = "radio"
				default      = "0"
				label        = "COM_RSGALLERY2_DISPLAY_NUMBER_OF_ITEMS_IN_GALLERY_INCLUDE_KIDS"
				description  = ""
				class        = "btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
				id           = "showGalleryDate"
				name         = "showGalleryDate"
				type         = "radio"
				default      = "0"
				label        = "COM_RSGALLERY2_DISPLAY_CREATION_DATE"
				description  = ""
				class        = "btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

	</fieldset>


	<fieldset name="Display_imageDisplay">
		<field
				id           = "displaySlideshowImageDisplay"
				name         = "displaySlideshowImageDisplay"
				type         = "radio"
				default      = "0"
				label        = "COM_RSGALLERY2_DISPLAY_SLIDESHOW_IMAGE_DISPLAY"
				description  = ""
				class        = "btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
				id           = "displayPopup"
				name         = "displayPopup"
				type         = "radio"
				default      = "0"
				label        = "COM_RSGALLERY2_POPUP_STYLE"
				description  = ""
				class        = "btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
				id           = "displayDesc"
				name         = "displayDesc"
				type         = "radio"
				default      = "0"
				label        = "COM_RSGALLERY2_DISPLAY_DESCRIPTION"
				description  = ""
				class        = "btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
				id           = "displayHits"
				name         = "displayHits"
				type         = "radio"
				default      = "0"
				label        = "COM_RSGALLERY2_DISPLAY_HITS"
				description  = ""
				class        = "btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
				id           = "displayVoting"
				name         = "displayVoting"
				type         = "radio"
				default      = "0"
				label        = "COM_RSGALLERY2_DISPLAY_VOTING"
				description  = ""
				class        = "btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
				id           = "displayComments"
				name         = "displayComments"
				type         = "radio"
				default      = "0"
				label        = "COM_RSGALLERY2_DISPLAY_COMMENTS"
				description  = ""
				class        = "btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

	</fieldset>
	<fieldset name="Display_imageOrder">
		<field
				id           = "filter_order"
				name         = "filter_order"
				type         = "radio"
				default      = "0"
				label        = "COM_RSGALLERY2_ORDER_IMAGES_BY"
				description  = ""
				class        = "btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
        <field
                id           = "filter_order_Dir"
                name         = "filter_order_Dir"
                type         = "radio"
                default      = "0"
                label        = "COM_RSGALLERY2_ORDER_DIRECTION"
                description  = ""
                class        = "btn-group btn-group-yesno">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
	</fieldset>

	<fieldset name="Display_exifSettings">
		<field
				id           = "displayEXIF"
				name         = "displayEXIF"
				type         = "radio"
				default      = "0"
				label        = "COM_RSGALLERY2_DISPLAY_EXIF_DATA"
				description  = ""
				class        = "btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
        <field
                id           = "exif"
                name         = "exif"
                type         = "radio"
                default      = "0"
                label        = "COM_RSGALLERY2_SELECT_EXIF_TAGS_TO_DISPLAY"
                description  = ""
                class        = "btn-group btn-group-yesno">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
	</fieldset>

	<fieldset name="Display_galleryView">
        <field
                id           = "display_thumbs_style"
                name         = "display_thumbs_style"
                type         = "radio"
                default      = "0"
                label        = "COM_RSGALLERY2_THUMBNAIL_STYLE_USE_FLOAT_FOR_VARIABLE_WIDTH_TEMPLATES"
                description  = ""
                class        = "btn-group btn-group-yesno">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field
                id           = "display_thumbs_floatDirection"
                name         = "display_thumbs_floatDirection"
                type         = "radio"
                default      = "0"
                label        = "COM_RSGALLERY2_DIRECTION_ONLY_WORKS_FOR_FLOAT"
                description  = ""
                class        = "btn-group btn-group-yesno">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field
                id           = "display_thumbs_colsPerPage"
                name         = "display_thumbs_colsPerPage"
                type         = "radio"
                default      = "0"
                label        = "COM_RSGALLERY2_NUMBER_OF_THUMBNAIL_COLUMNS_ONLY_FOR_TABLE"
                description  = ""
                class        = "btn-group btn-group-yesno">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field
                id           = "display_thumbs_maxPerPage"
                name         = "display_thumbs_maxPerPage"
                type         = "radio"
                default      = "0"
                label        = "COM_RSGALLERY2_THUMBNAILS_PER_PAGE"
                description  = ""
                class        = "btn-group btn-group-yesno">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field
                id           = "display_thumbs_showImgName"
                name         = "display_thumbs_showImgName"
                type         = "radio"
                default      = "0"
                label        = "COM_RSGALLERY2_SHOW_IMAGE_NAME_BELOW_THUMBNAIL"
                description  = ""
                class        = "btn-group btn-group-yesno">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field
                id           = "displaySlideshowGalleryView"
                name         = "displaySlideshowGalleryView"
                type         = "radio"
                default      = "0"
                label        = "COM_RSGALLERY2_DISPLAY_SLIDESHOW_GALLERY_VIEW"
                description  = ""
                class        = "btn-group btn-group-yesno">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
	</fieldset>


	<fieldset name="Display_imageWatermark">
        <field
                id           = "watermark"
                name         = "watermark"
                type         = "radio"
                default      = "0"
                label        = "COM_RSGALLERY2_DISPLAY_WATERMARK"
                description  = ""
                class        = "btn-group btn-group-yesno">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field
                id           = "showFontList"
                name         = "showFontList"
                type         = "radio"
                default      = "0"
                label        = "COM_RSGALLERY2_FONT"
                description  = ""
                class        = "btn-group btn-group-yesno">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field
                id           = "watermark_text"
                name         = "watermark_text"
                type         = "radio"
                default      = "0"
                label        = "COM_RSGALLERY2_WATERMARK_TEXT"
                description  = ""
                class        = "btn-group btn-group-yesno">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field
                id           = "watermark_font_size"
                name         = "watermark_font_size"
                type         = "radio"
                default      = "0"
                label        = "COM_RSGALLERY2_WATERMARK_FONT_SIZE"
                description  = ""
                class        = "btn-group btn-group-yesno">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field
                id           = "watermark_angle"
                name         = "watermark_angle"
                type         = "radio"
                default      = "0"
                label        = "COM_RSGALLERY2_WATERMARK_TEXT_ANGLE"
                description  = ""
                class        = "btn-group btn-group-yesno">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field
                id           = "watermark_position"
                name         = "watermark_position"
                type         = "radio"
                default      = "0"
                label        = "COM_RSGALLERY2_WATERMARK_POSITION"
                description  = ""
                class        = "btn-group btn-group-yesno">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field
                id           = "watermark_transparency"
                name         = "watermark_transparency"
                type         = "radio"
                default      = "0"
                label        = "COM_RSGALLERY2_WATERMARK_TRANSPARENCY"
                description  = ""
                class        = "btn-group btn-group-yesno">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field
                id           = "imgPath_watermarked"
                name         = "imgPath_watermarked"
                type         = "radio"
                default      = "0"
                label        = "COM_RSGALLERY2_WATERMARKED_IMAGE_PATH"
                description  = ""
                class        = "btn-group btn-group-yesno">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
	</fieldset>

	<fieldset name="Mygalleries_setting">
		<field
				id           = "show_mygalleries"
				name         = "show_mygalleries"
				type         = "radio"
				default      = "0"
				label        = "COM_RSGALLERY2_SHOW_MY_GALLERIES"
				description  = "COM_RSGALLERY2_SHOW_MY_GALLERIES_TOOLTIP"
				class        = "btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field
				id           = "show_mygalleries_onlyOwnItems"
				name         = "show_mygalleries_onlyOwnItems"
				type         = "radio"
				default      = "0"
				label        = "COM_RSGALLERY2_SHOW_ONLY_OWN_ITEMS_IN_MY_GALLERIES"
				description  = "COM_RSGALLERY2_SHOW_ONLY_OWN_ITEMS_IN_MY_GALLERIES_TOOLTIP"
				class        = "btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field
				id           = "show_mygalleries_onlyOwnGalleries"
				name         = "show_mygalleries_onlyOwnGalleries"
				type         = "radio"
				default      = "0"
				label        = "COM_RSGALLERY2_SHOW_ONLY_OWN_GALLERIES_IN_MY_GALLERIES"
				description  = "COM_RSGALLERY2_SHOW_ONLY_OWN_GALLERIES_IN_MY_GALLERIES_TOOLTIP"
				class        = "btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

	</fieldset>
	<fieldset name="Mygalleries_upload">
		<field
				name="uu_maxCat"
				type="text"
				label="COM_RSGALLERY2_MAXIMUM_NUMBER_OF_GALLERIES_A_USER_CAN_HAVE"
				description=""
				filter="string"
				size="20"
		/>
		<field
				name="uu_maxImages"
				type="text"
				label="COM_RSGALLERY2_MAX_NUMBERS_OF_PICTURES_A_USER_CAN_HAVE"
				description=""
				filter="string"
				size="20"
		/>
	</fieldset>
	<fieldset name="Sozial media">
		<field
				id           = "all_img_in_step1_02"
				name         = "all_img_in_step1_02"
				type         = "radio"
				default      = "0"
				label        = "COM_RSGALLERY2_ONE_GALLERY_FOR_ALL_IMAGES_LABEL"
				description  = "COM_RSGALLERY2_ONE_GALLERY_FOR_ALL_IMAGES_DESC"
				class        = "btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<!-- Gallery selection -->
		<field
				id           = "SelectGalleries_02"
				name         = "SelectGalleries02"
				type         = "GallerySelectList"
				label        = "COM_RSGALLERY2_SPECIFY_GALLERY_LABEL"
				description  = "COM_RSGALLERY2_SPECIFY_GALLERY_DESC"
				required     = "true"
				class        = "inputbox"
				addfieldpath = "/administrator/components/com_rsgallery2/models/fields"
		/>
		<!--
			translate_label	= "true"
			class			= "inputbox"
		-->

	</fieldset>
</form>